.App-header {
    background-color: #000000;
    color: white;
}

.Indicators {
    padding: 12px;
}

.App-main {
    padding-top: 24px;
}

.Drawer svg {
    height: 100% !important;
}

.Tabs-Panel h1 {
    margin-left: 8px;
}

.Tabs-Panel h1+p {
    margin-left: 10px;
}

.side-tabs .Tabs-Navigation {
    position: absolute;
    right: 0;
}

.side-tabs .Tabs-Navigation .Toggle {
    flex-flow: column;
    align-items: flex-end;
}

.side-tabs .Tabs-Navigation .Toggle label {
    text-align: center;
    cursor: pointer;
    border: 1px solid #000000;
    color: #353535;
    padding: 8px;
    min-width: 30px;
}

.side-tabs .Tabs-Navigation .Toggle label:not(:first-of-type) {
    border-top: none;
}

.side-tabs .Tabs-Navigation .Toggle input:checked+label {
    background-color: #000000;
    color: #ffffff;
}