.Option-row {
  margin-top: 24px;
  font-variant: small-caps;
}

.Option-row_slider {
  text-align: slider;
  display: flex;
  flex-direction: column;
  align-items: center;
}

i.small {
  font-size: 80%;
}

.rc-slider {
  max-width:200px;
}

.Target-temperature {
  margin-top: 12px;
  font-size: 20pt;
}